# Kode unik untuk akses registrasi dosen dan asdos (isi string bebas sesuai kebutuhan)
DOSEN_CODE=enter_dosen_code_here
ASDOS_CODE=enter_asdos_code_here

# Secret key untuk Django (gunakan nilai yang kuat dan rahasiakan di lingkungan produksi)
# Untuk secret key merupakan string 50 karakter random, dapat di-generate dari sini (https://djecrety.ir/).
SECRET_KEY=50_character_random_string_here

# Debug mode (set ke False di lingkungan produksi)
DEBUG=True